<ion-view view-title="Juego">
  <ion-content class="bodyJuego" style="text-align:center">
    <div style="width:100%">
    	<p>Grabar audio Parado - Grabar audio Acostado</p>
    	<button class="button button-positive icon ion-record" ng-click="GrabarAudio('parado')"></button>
	    <button class="button button-positive icon ion-stop" ng-click="DetenerAudio('parado')" style="margin-right:5%"></button>
	    <button class="button button-calm icon ion-record" ng-click="GrabarAudio('acostado')"></button>
	    <button class="button button-calm icon ion-stop" ng-click="DetenerAudio('acostado')"></button>
	</div>
	<div style="width:100%">
	    <p>Grabar audio Izquierda - Grabar audio Derecha</p>
    	<button class="button button-balanced icon ion-record" ng-click="GrabarAudio('izquierda')"></button>
	    <button class="button button-balanced icon ion-stop" ng-click="DetenerAudio('izquierda')" style="margin-right:5%"></button>
	    <button class="button button-assertive icon ion-record" ng-click="GrabarAudio('derecha')"></button>
	    <button class="button button-assertive icon ion-stop" ng-click="DetenerAudio('derecha')"></button>
	</div>
	<div style="width:100%">
	    <p>Grabar audio Boca Abajo</p>
	    <button class="button button-dark icon ion-record" ng-click="GrabarAudio('bocaAbajo')"></button>
	    <button class="button button-dark icon ion-stop" ng-click="DetenerAudio('bocaAbajo')" style="margin-right:5%"></button>
	</div>
	<div>
		<img src='{{imagen}}' style="width:50%; margin-top:2%; border-radius:7px">
	</div>
  </ion-content>
</ion-view>
